<header class="highlighted-section">
  <div>
    {{navigation}}
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <div class="container">
            <h3 class="">Hello World, I'm</h3>
            <h1 class="title is-capitalized has-text-weight-semibold is-large">Ahmed Halat</h1>
            <h2 class="subtitle">A Student at University of Toronto and SDE intern</h2>
            <table class="table is-transparent">
              <tbody>
              <tr>
                <td>AGE</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>Greater Toronto Area</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>ahmedhalat@gmail.com</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>ahmedhalat@gmail.com</td>
              </tr>
              </tbody>
            </table>
            <div class="columns cl-md">
              <div class="column">
                <div class="button-container">
                  <a href="#" class="button-filled button-text-filled button widget-button" role="button">
                    <span class="button-content-wrapper">
                      <span class="button-text-filled">Contact</span>
                    </span>
                  </a>
                </div>
              </div>

              <div class="column">
                <div class="button-container">
                  <a href="#" class="button-hollow button-text-filled button widget-button" role="button">
                    <span class="button-content-wrapper">
                      <span class="button-text-hollow">Download CV</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQEEkERe9gyzUA/profile-displayphoto-shrink_400_400/0?e=1595462400&amp;v=beta&amp;t=Z6-sSeqVGM3NMbxYHQi0KiTfjnJe9U7P-j8eU5JMMQk" class="image profile-image">
          </div>
          <div class="container links">
            <section data-element_type="section" class="container icon-panel"  style="">
              <a class="icon is-medium" target="_blank" href="https://www.linkedin.com/in/ahmed-halat">
                <i class="fab fa-2x fa-linkedin"></i>
              </a>
              <a class="icon is-medium" target="_blank" href="https://github.com/AhmedHalat">
                <i class="fab fa-2x fa-github-square"></i>
              </a>
          </section>
          </div>
        </div>

      </div>

    </div>

  </div>
</header>
