<header>
  <div class="hearo-head">
    <nav class="navbar is-primary">
      <div class="container">


        <div class="navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="navbar-menu">
          <a href="#" class="navbar-item">Home</a>
          <a href="#" class="navbar-item">Portfolio</a>
          <a href="#" class="navbar-item">About Me</a>
          <a href="#" class="navbar-item">Contact</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{ @blog.title }}</h1>
      <h2 class="subtitle">{{ @blog.description }}</h2>
    </div>
  </div>
</header>
